<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftNavgation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BC9C23E1DB8AF31003EB263</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BC9C2521DB8AF31003EB263</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BC9C25D1DB8AF31003EB263</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
